body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFDEAD;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.img{
    margin-left: 50px;
}

.inf{
    margin-right: 40px;
}

p{
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
    text-transform: uppercase;

}

.title-font{
    font-family: 'Roboto', serif;
    letter-spacing: 1.3px;
}

.gitHubImg{
    image-rendering: -moz-crisp-edges; /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;  /* IE */
    image-rendering: crisp-edges;/* Стандартное свойство */
    width: 7vh;
}

.chapter{
    text-align: center;
}

.link-form {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  margin: 10px;
  transition: linear;
  transition-duration: .1s;
}

.link-form:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-ransform: scale(1.1);
}

.main-form{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #000000;
  min-height: 100px;
  min-width: 100px;
  border-radius: 5px;
}

.codeWars{
    margin-top: 20px;
    padding: 20px 50px;
    text-decoration: none;
    color: #000000;
    background-color: #FFDEAD;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    font-size: 1.1rem;
    outline: none;
    border: 2px solid #000000;
    position: relative;
    z-index: 1;
}

.codeWars:hover{
    color: #FFFFFF;
    cursor: pointer;
}
.codeWars:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 0;
    content: "";
    background-color: #000000;
}
.codeWars:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

@media screen and (max-width: 1200px){
    .gitHubImg{
        position: relative;
        top: 20px;
    }
}
@media screen and (max-width: 450px){
    .title-font{
        letter-spacing: 0;
    }
}

@media screen and (max-width: 400px){
    .gitHubImg{
        top: 18px;
        right: 25px;
    }
}

@media screen and (max-width: 384px){
    .gitHubImg{
        top: 30px;
        right: 25px;
    }
    .title-font{
        letter-spacing: 1.3px;
    }
    header{
        padding-left: 40px;
    }
}

@media screen and (max-width: 365px){
    .title-font{
        letter-spacing: 1.3px;
    }

}
@media screen and (max-width: 290px){
    .title-font{
        letter-spacing: 0;
    }
}
