body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFDEAD;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.img{
    margin-left: 50px;
}

.inf{
    margin-right: 40px;
}

p{
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
    text-transform: uppercase;

}

.title-font{
    font-family: 'Roboto', serif;
    letter-spacing: 1.3px;
}

.gitHubImg{
    image-rendering: -moz-crisp-edges; /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;  /* IE */
    image-rendering: crisp-edges;/* Стандартное свойство */
    width: 7vh;
}

.chapter{
    text-align: center;
}

.link-form {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  margin: 10px;
}

.link-form:hover{
    color: #FFFFFF;
}

.main-form{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #000000;
  min-height: 100px;
  min-width: 100px;
  border-radius: 5px;
}
@media screen and (max-width: 1200px){
    .gitHubImg{
        position: relative;
        top: 20px;
    }
}
@media screen and (max-width: 450px){
    .title-font{
        letter-spacing: 0;
    }
}

@media screen and (max-width: 400px){
    .gitHubImg{
        top: 25px;
        right: 10px;
    }
}
