*{
    margin: 0;
    font-family: Stem, sans-serif;
}
body, .number-page{
    background: #F3F3F3;
}
.flex{
    display: flex;
}
.head-nav-content{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}
.logo{
    width: 81px;
    height: 69.75px;
    margin-left: 148px;
    margin-top: 34px;
}
.nav-call{
    width: 59px;
    height: 59px;
    position: relative;
    z-index: 3;
    margin-right: 150px;
    margin-top: 39px;
}
.head-nav {
    margin-top: 50px;
}
.nav-links{
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 3;
}
.head-link{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #768290;
    text-decoration: none;
    margin: 0 58px;
}
.catalog{
    justify-content: flex-start;
    align-items: center;
    padding-left: 148px;
    margin-top: 60px;
    margin-bottom: 48px;
}
.catalog-title{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(2, 32, 27, 0.83);
}
.main-container{
    justify-content: space-around;
    flex-direction: row;
}
.categories{
    flex-direction: column;
    padding-left: 148px;
}
.categories-title{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #2C4540;
    margin-bottom: 30px;
}
.top-inputs{
    flex-direction: column;
}
.search {
    width: 262px;
    height: 41px;
    background: #FFFFFF;
    border-radius: 100px;
    border: none;
    margin-bottom: 18px;
    /*display: flex;*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top-inputs input, .down-single-inputs input{
    /*width: 262px;*/
    /*height: 41px;*/
    background: #FFFFFF;
    border-radius: 100px;
    border: none;
    /*margin-bottom: 18px;*/
}
.top-inputs input[type=text], .down-single-inputs input[type=text], .double-input input[type=text]{
    padding-left: 18px;
}
.top-inputs input[type=submit], .down-single-inputs input[type=submit]{
    padding-right: 40px;
    background: url("img_catalogue/Vector.png");
    background-repeat: no-repeat;
    background-position: center;
}
.top-inputs input::placeholder, .top-inputs input::-moz-placeholder,
.down-single-inputs input::placeholder, .down-single-inputs input::-moz-placeholder,
.white-input::placeholder, .white-input::-moz-placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #768290;
}
.top-inputs input:focus, .down-single-inputs input:focus, .number-page:focus, .double-input input:focus,
.filters input:focus{
    outline: none;
}
.period-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #768290;
    margin-bottom: 12px;
}
.double-input{
    margin-bottom: 18px;
    justify-content: space-between;
    align-items: center;
    height: 41px;
    background: #FFFFFF;
    border-radius: 100px;
    border: none;
    width: 262px;
}
.double-left, .double-right{
    width: 131px;
}
.first-double-input-left{
    width: 81px;
    /*height: 41px;*/
    /*background: #FFFFFF;*/
    border: none;
    border-radius: 100px;
}
.second-double-input-left, .second-double-input-right{
     /*background: #FFFFFF;*/
     border: none;
     border-radius:100px;
     padding-right: 20px;
 }
.double-input input[type=submit]{
    background: url("img_catalogue/Vector.png");
    background-repeat: no-repeat;
    background-position: center;
}
.double-input hr{
    border: 1px solid #E2E2E2;
    height: 41px;
}
.first-double-input-right{
    border: none;
    border-radius:100px;
    width: 81px;
}
.second-double-input-right{
    border: none;
    border-radius:100px;
    padding-right: 10px;
}
.search-comment{
    justify-content: center;
    /* font-family: Stem; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    color: #768290;
}
.offers{
    flex-direction: column;
    width: 100%;
    margin-left: 99px;
    padding-right: 150px;
}
.filters{
    flex-direction: row;
    margin-bottom: 39px
}
.filter-selected{
    border-radius: 100px;
    border: 1px solid #768290;
    box-sizing: border-box;
    background: #F3F3F3;
    height: 41px;
    padding-right: 18px;
    margin-right: 12px;
}
.cancel-submit{
    background: url("img_catalogue/cancel.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 100px;
}
.text-submit{
    padding-left: 17px;
    border-radius: 100px;
    border: none;
    width: 100%;
    background: #F3F3F3;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #768290;
}
.white-input{
    width: 104px;
}
.seedlings-btn{
    width: 113px;
}
.one-yer-input{
    width: 147px;
}
.offers-content{
    justify-content: space-between;
    flex-direction: column;
}
.new{
    width: 66px;
    height: 24px;
    background: #2C4540;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 16px;
}
.new-text{
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.offer-title{
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: rgba(2, 32, 27, 0.83);
    margin-top: 14px;
    margin-bottom: 12px;
}
.price{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #2C4540;
    margin-top: 12px;
}
.five-price, .six-price, .seven-price{
    position: relative;
    top: 19px;
}
.ident-title{
    margin-bottom: 27px;
}
.ident-offer-title{
    margin-bottom: 31px;
}
.first-string-offer, .second-string-offer, .third-string-offer{
    justify-content: space-between;
    flex-direction: row;
}
.first-string-offer{
    margin-bottom: 61px;
}
.second-string-offer{
    margin-bottom: 62px;
}
.third-string-offer{
    margin-bottom: 100px;
}
.pages{
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 150px;
}
.number-page{
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #768290;
}
.five-page{
    background: url("img_catalogue/Next-stripe.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: relative;
    bottom: 1px;
}
.border-page{
    border: none;
}
.first-page{
    border: 1px solid #768290;
    box-sizing: border-box;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    padding-left: 7px;
    padding-top: 2.5px;
}
.indent-page{
    margin-right: 14px;
}
footer{
    background: #F3F3F3;
    margin-top: 198px;
    height: 170px;
}
.footer-links{
    justify-content: space-between;
    margin-bottom: 54px;
}
.youtube-link{
    margin-left: 19px;
}
.youtube-link-img{
    margin-bottom: 2px;
}
.footer-text{
    justify-content: space-around;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #768290;
}
.footer-content-left, .footer-content-right{
    flex-direction: column;
}
.place-text{
    margin-top: 54px;
    margin-left: 59px;
}
.policy-text{
    margin-top: 61px;
    position: relative;
    right: 117px;
}
.footer-content-left{
    padding-left: 148px;
}
